:root {
  --link-color: #212121;
  --text-active: #2196f3;
  --phone-number-color: #757575;
  --dark-bg-color: #2f303a;
  --secondary-text-color: #757575;
}

body {
  background-color: #ffffff;
  width: 1600px;
  height: 1879px;
  top: -3267px;
  left: -2206px;
  font-family: "Roboto", sans-serif;
  color: #212121;
}
button.pointer {
  cursor: pointer;
}
button:hover {
  background-color: blue;
}
a:hover {
  background-color: green;
}
.up-web-studio-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 145px;
  height: 31px;
  top: 24px;
  left: 215px;
}
.up-studio {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 42px;
  height: 16px;
  top: 32px;
  left: 453px;
}
.up-portofolio {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 58px;
  height: 16px;
  top: 32px;
  left: 545px;
}
.up-contacts {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 59px;
  height: 16px;
  top: 32px;
  left: 653px;
}
a.up-email:hover {
  background-color: red;
}
.up-email,
.up-phone-number {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 135px;
  height: 16px;
  top: 32px;
  left: 1088px;
}

.down-webstudio {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}

.down-address a:focus {
  color: yellow;
}
.down-address a:hover {
  background-color: red;
}
.info.down-address,
.info.domn-email {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

em.down-email a:hover {
  background-color: red;
}
em.down-email a:focus {
  color: brown;
}

em.down-phone-number a:hover {
  background-color: rosybrown;
}
em.down-phone-number a:focus {
  color: black;
}
.down-phone-number {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.global-header {
  background-color: #fff;
  width: 1600px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
}

.global-header .main-navigation ul {
  display: flex;
  width: 600px;
  justify-content: space-evenly;
}

.global-main {
  width: 1600px;
  height: 1879px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.all-button {
  display: flex;
  width: 64px;
  height: 38px;
  flex-shrink: 0;
}

.web-sites-button {
  width: 64px;
  height: 38px;
  flex-shrink: 0;
}

.apps-button {
  width: 83px;
  height: 38px;
  flex-shrink: 0;
}

.design-button {
  width: 96px;
  height: 38px;
  flex-shrink: 0;
}

.marketing-button {
  width: 121px;
  height: 38px;
  flex-shrink: 0;
}

.button-section {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.boxes-section ul {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
}

.footer-container {
  color: #fff;
  background-color: var(--dark-bg-color);
  width: 1600px;
  height: 251px;
  padding-top: 60px;
}

.down-web-studio-logo {
  padding-left: 215px;
}

.info ul {
  padding-left: 215px;
}
